aclocal.m4
autom4te.cache
config.*
configure
*.pc
cpg-enum-types.*
.deps
.libs
*.a
*.la
*.so
*.so.*
*.o
*.lo
Makefile
Makefile.in
depcomp
gtk-doc.make
install-sh
libtool
m4
missing
docs/reference/html
docs/reference/xml
