Source: codyn
Priority: extra
Maintainer: Alexandre Tuleu <alexandre.tuleu@polytechnique.org>
Build-Depends: debhelper (>= 7),
               autotools-dev,
               cdbs,
               pkg-config,
               libglib2.0-dev,
               libxml2-dev,
               libncurses5-dev,
               bison,
               flex,
               libtar-dev,
               libbz2-dev,
               libblas-dev,
               libatlas-base-dev,
               libcwiid-dev,
               gobject-introspection,
               libgirepository1.0-dev,
               python-gobject-dev,
               zip,
               libjson-glib-dev
Standards-Version: 3.9.5
Section: libs
Homepage: http://www.codyn.net

Package: libcodyn3-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         libcodyn3 (= ${binary:Version}),
         libglib2.0-dev,
         libxml2-dev,
         libncurses5-dev,
Suggests: libglib2.0-doc
Description: Development files for the codyn library
 This package provides the development files for the codyn library.

Package: libcodyn3
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libglib2.0-0,
         libxml2,
         libncurses5,
         libtar,
         libbz2-1.0,
         libatlas3gf-base,
         libblas3gf,
         gir1.2-codyn3
Description: Software framework for simulation coupled dynamical systems
 The codyn library provides a software framework to model and simulate
 coupled dynamical systems.

Package: codyn3-tools
Section: utils
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libcodyn3
Description: Tools for the codyn library
 This package provides useful tools to work with the codyn library.

Package: libcodyn3-io-wii
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libcodyn3,
         libcwiid1
Description: Wii support for codyn
 This package provide wii io support for codyn.

Package: libcodyn3-io-network
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libcodyn3
Description: Networking support for codyn
 This package provide network io support for codyn.

Package: libcodyn3-io
Architecture: any
Depends: ${misc:Depends},
         libcodyn3-io-wii,
         libcodyn3-io-network
Description: Meta package for codyn3 io support
 This package provides various io support for codyn.

Package: gir1.2-codyn3
Architecture: any
Depends: ${gir:Depends},
         ${misc:Depends}
Description: Gobject introspection file for libcodyn
  This package provides gobject introspection files for codyn.
