Source: cpg-network
Priority: extra
Maintainer: Jesse van den Kieboom <jesse.vandenkieboom@epfl.ch>
Build-Depends: debhelper (>= 7), 
               autotools-dev,
               cdbs,
               pkg-config,
               libglib2.0-dev,
               libxml2-dev,
               gtk-doc-tools,
               webots (>= 6.1.0)
Standards-Version: 3.8.0
Section: libs
Homepage: http://birg2.epfl.ch

Package: cpg-network1-dev
Section: libdevel
Architecture: any
Depends: cpg-network1 (= ${binary:Version}),
         libglib2.0-dev,
         libxml2-dev,
         gtk-doc-tools
Suggests: libglib2.0-doc
Description: Development files for CPG network library
 CPG network library

Package: cpg-network1
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libglib2.0-0,
         libxml2
Description: CPG network library
 CPG network library

Package: cpg-network-webots1-dev
Section: libdevel
Architecture: any
Depends: cpg-network-webots1 (= ${binary:Version}),
         cpg-network1-dev,
         webots (>= 6.1.0)
Description: Development files for CPG network library - webots bindings
 CPG network library webots bindings

Package: cpg-network-webots1
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         cpg-network1,
         webots (>= 6.1.0)
Description: CPG network library - webots bindings
 CPG network library webots bindings
