Source: codyn
Priority: extra
Maintainer: Jesse van den Kieboom <jesse@codyn.net>
Build-Depends: debhelper (>= 7),
               autotools-dev,
               cdbs,
               pkg-config,
               libglib2.0-dev,
               libxml2-dev,
               libncurses5-dev,
               bison,
               flex,
               libtar-dev,
               libbz2-dev,
               libblas-dev,
               libatlas-base-dev
Standards-Version: 3.9.1
Section: libs
Homepage: http://www.codyn.net

Package: libcodyn3-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         libcodyn3 (= ${binary:Version}),
         libglib2.0-dev,
         libxml2-dev,
         libncurses5-dev,
Suggests: libglib2.0-doc
Description: Development files for the codyn library
 This package provides the development files for the codyn library.

Package: libcodyn3
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libglib2.0-0,
         libxml2,
         libncurses5,
         libtar,
         libbz2-1.0,
         libatlas3gf-base,
         libblas3gf
Description: Software framework for simulation coupled dynamical systems
 The codyn library provides a software framework to model and simulate
 coupled dynamical systems.

Package: codyn3-tools
Section: utils
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libcodyn3
Description: Tools for the codyn library
 This package provides useful tools to work with the codyn library.
